
@media only screen and (max-width: 980px) {

    img {
        max-width: 216px;
    }

}

@media only screen and (max-width: 768px) {

    img {
        max-width: 200px;
    }

}

@media only screen and (max-width: 640px) {

    img {
        max-width: 128px;
    }

    li {
        /* typography */
        font-size: 2px;
    }

}

@media only screen and (max-width: 320px) {

    h1 {
        /* typography */
        font-size: 48px;
        margin-top: 16px;
    }

    h2 {
        /* typography */
        font-size: 24px;
    }

    h3 {
        /* typography */
        font-size: 20px;
    }

    #wrapper {
        width: 85%;
    }

    #rightAnswer, #wrongAnswer {
        font-size: 16px;
        line-height: 24px;
    }

    #clockDisplay {
        /* typography */
        font-size: 32px;
    }

    img {
        max-width: 92px;
    }

    li {
        /* typography */
        font-size: 2px;
    }

}

