
/* global */
*, html, body {
    background: #000000;

    text-align: center;
}

h1, h2, h3 {
    font-family: 'Special Elite', cursive, Cambria, Cochin, Georgia, Times, serif;
    color: #00008d;
    text-shadow: 0.5px 0.5px 1px #99bbdd;

    margin: 8px auto;
}

h1 {
    font-size: 64px;
    letter-spacing: 4px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

#wrapper {
    font-family: 'Boogaloo', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    width: 512px;
    margin: 16px auto;
}

#rightAnswer, #wrongAnswer {
    font-family: 'Boogaloo', cursive, sans-serif;
    color: #218d88;
    font-size: 32px;
    line-height: 48px;

    border-top: 1px solid #218d88;

    margin-right: 16px;
}

#clockDisplay {
    font-family: monospace;
    color: #008000;
    font-size: 56px;

    margin: 8px auto;
}

button {
    font-family: 'Acme', sans-serif;
    cursor: pointer;
    font-size: 16px;

    background: #8899dd;
    line-height: 20px;
    border: none;
    padding: 16px;
}

#bandImages {
    background: #222222;
}

img {
    max-height: 256px;

    margin: 16px auto;
}

#guesses {
    font-size: 32px;
}

ul {
    list-style-type: none;
}

li {
    background: #218d88;
    cursor: pointer;
}

