
*, html, body {
    background: #000000;
    /* typography */
    text-align: center;
}

header {
    margin: 2px;
}

h1, h2, h3 {
    /* typography */
    font-family: 'Special Elite', cursive, Cambria, Cochin, Georgia, Times, serif;
    color: #00008d;
    text-shadow: 0.5px 0.5px 1px #88aadd;
}

h1 {
    /* typography */
    font-size: 56px;
    letter-spacing: 4px;
}

h2 {
    /* typography */
    font-size: 32px;
}

h3 {
    /* typography */
    font-size: 24px;
}

#wrapper {
    /* typography */
    font-family: 'Boogaloo', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    /* box */
    width: 45%;
    margin: 0px auto;
}

#rightAnswer, #wrongAnswer {
    /* typography */
    font-family: 'Boogaloo', cursive, sans-serif;
    color: #8899dd;
    font-size: 32px;
    line-height: 48px;
    /* box */
    border-top: 1px solid #8899dd;
}

#clockDisplay {
    /* typography */
    font-family: monospace;
    color: #008000;
    font-size: 56px;
    /* box */
    margin: 4px auto;
}

button {
    /* typography */
    font-family: 'Acme', sans-serif;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    /* box */
    background: #8899dd;
    border: none;
    padding: 8px;
}

#bandImages {
    background: #222222;
}

img {
    max-height: 256px;
    /* box */
    margin: 4px auto;
}

#guesses {
    /* typography */
    font-size: 32px;
}

ul {
    list-style-type: none;
}

li {
    background: #8899dd;
    cursor: pointer;
}

